/*
 * Empty Stylesheet file.
 */
.label{
    -fx-padding: 5px;
    -fx-background-color:#eee;
    -fx-text-fill:black;
    -fx-pref-height:50px;
    -fx-pref-width:100px;

  }
  .button{
      
   -fx-background-color:black;
 -fx-text-fill:#fff;
 -fx-font-weight: bold;
     

  }/*
 * Empty Stylesheet file.
 */
  .mainvb{
    -fx-background-color:#172333;
}
.mainFxmlClass {

}
